.container {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #cccccc;
}

.entry-list {
  list-style: none;
  display: block;
  margin: 0;
  padding: 5px;
}

.entry-list li {
  padding: 5px;
  overflow: hidden;
}
